@model Category
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Categories", FormMethod.Post, new { @class = "Form" }))
{
    <div class="form-group">
        @Html.HiddenFor(f=> f.Id)
        @Html.LabelFor(f => Model.Name)
        @Html.TextBoxFor(f => Model.Name, new { @class = "form-control" })
    </div>

    <input type="submit" class="btn-default" name="name" value="Update" />
}


